@{
    ViewData["Title"] = "Home Page";
}

<section class="search-banner text-white py-3 form-arka-plan" id="search-banner">
    <div class="container py-5 my-5">
        <div class="row text-center pb-4">
            <div class="col-md-12">
                <h2 class="text-white siyah-cerceve">Prueba C# MVC ASP.NET</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card acik-renk-form">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <select id="iller" class="form-control" >
                                        <option selected>Nombre</option>
                                        <option>Inri</option>
                                        <option>Vivi</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <select id="ilceler" class="form-control" >
                                        <option selected>Usuario</option>
                                        <option>BMW</option>
                                        <option>Audi</option>
                                        <option>Maruti</option>
                                        <option>Tesla</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <select id="arac-turu" class="form-control" >
                                        <option selected>Otro</option>
                                        <option>Cambio</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <p class="font-weight-light text-dark">ya da</p>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group ">
                                    <input type="text" class="form-control" placeholder="Dato">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-warning  pl-5 pr-5">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



